* {
    margin: 0;
    box-sizing: 0;
    font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0,0,0,0.5);
    display:flex;
    align-items: center;
    justify-content: center;

}
.modal-content{
    width:500px;
    background-color: white;
    border-radius: 20px;
    padding:20px
}


.modal-header1, .modal-footer{
    padding:10px
}

.modal-title{
    margin: 0;
}

.modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    font-size: 16px;
    margin-right: 2rem;
    margin-left: 2rem;
}

.btn button:hover {
    color: white;
    background-color: rgb(61, 43, 226);
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }