.staffCover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: row;
}

.staffForm {
    background-color: white;
    padding: 0px 60px;
    flex-direction: column;
    width: 250px;
    border-radius: 5px;
    border: 1px solid gray;
}

.movieSubmitButton {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(61, 43, 226);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    transition: 0.5s;
}

.staffTitle {
    color: rgb(6, 6, 81);
    text-align: center;
}

.moviePreview {
    margin-left: 5em;
}